services:
  db:
    image: postgres:18-alpine
    ports:
      - 5449:5432
    environment:
      POSTGRES_USER: your_user
      POSTGRES_PASSWORD: your_user_password
      POSTGRES_DB: your_user_db_name
    volumes:
      - db-data:/var/lib/postgresql/data:rw
  php:
    build:
      context: ./docker/php
    volumes:
      - .:/var/www/ksef:delegated
    links:
      - db
    environment:
      DATABASE_URL: "postgresql://your_user:your_user_password@db:5432/your_db_name"
      APP_URL: "http://ksef.local:8099"
      APP_ENV: "dev"
      APP_SECRET: "your_app_secret"
      APP_HOSTNAME: "ksef.local"
  nginx:
    image: nginx:1.27-alpine
    ports:
      - "8099:80"
    volumes:
      - .:/var/www/ksef:delegated
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - php
volumes:
  db-data:
